# Naive Bayes Classification

## Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [3]:
dataset = pd.read_csv('Pima.te.csv')
X = dataset.iloc[:,:8].values
y = dataset['type'].values

dataset.head(5)

   Unnamed: 0  npreg  glu  bp  skin   bmi    ped  age type
0           1      6  148  72    35  33.6  0.627   50  Yes
1           2      1   85  66    29  26.6  0.351   31   No
2           3      1   89  66    23  28.1  0.167   21   No
3           4      3   78  50    32  31.0  0.248   26  Yes
4           5      2  197  70    45  30.5  0.158   53  Yes

## Splitting the dataset into the Training set and Test set

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## Feature Scaling

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the Naive Bayes Classification model on the Training Set

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

## Predicting the Test Set Results

In [7]:
y_pred = classifier.predict(X_test)
y_pred

array(['No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes',
       'No', 'No', 'Yes', 'Yes'], dtype='<U3')

## Confusion Matrix and Accuracy

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.7910447761194029

array([[39,  6],
       [ 8, 14]])

## Comparing the Real Values with Predicted Values

In [9]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

   Real Values Predicted Values
0           No               No
1           No               No
2          Yes              Yes
3          Yes              Yes
4           No               No
..         ...              ...
62         Yes              Yes
63         Yes               No
64          No               No
65         Yes              Yes
66         Yes              Yes

[67 rows x 2 columns]