# Naive Bayes Classification

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values

dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Splitting the dataset into the Training set and Test set

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## Feature Scaling

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Training the Naive Bayes Classification model on the Training Set

In [5]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

## Predicting the Test Set Results

In [6]:
y_pred = classifier.predict(X_test)
y_pred

array(['virginica', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'setosa', 'setosa', 'versicolor', 'virginica', 'setosa', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica'], dtype='<U10')

## Confusion Matrix and Accuracy

In [7]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9333333333333333

array([[ 9,  0,  0],
       [ 0, 11,  0],
       [ 0,  2,  8]])

## Comparing the Real Values with Predicted Values

In [8]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

   Real Values Predicted Values
0    virginica        virginica
1   versicolor       versicolor
2   versicolor       versicolor
3       setosa           setosa
4   versicolor       versicolor
5   versicolor       versicolor
6   versicolor       versicolor
7   versicolor       versicolor
8       setosa           setosa
9    virginica        virginica
10      setosa           setosa
11      setosa           setosa
12  versicolor       versicolor
13   virginica        virginica
14      setosa           setosa
15      setosa           setosa
16      setosa           setosa
17   virginica        virginica
18  versicolor       versicolor
19      setosa           setosa
20   virginica        virginica
21   virginica       versicolor
22   virginica        virginica
23      setosa           setosa
24  versicolor       versicolor
25   virginica       versicolor
26   virginica        virginica
27  versicolor       versicolor
28  versicolor       versicolor
29   virginica        virginica